/* Base styles */

.par {
	margin: 0;
	padding: 0;
}

.link {
	color: inherit;
	text-decoration: none;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.page {
	padding: 0;
	margin: 0;
	background: #fff;
/*	background: url("../img/bg.jpg");*/
/*	background-repeat: repeat;*/
	font-family: 'OpenSans', sans-serif;
	font-size: 16px;
	color: #606060;
/*	background-size: cover;*/
	/*background-position: center; *//*necessary if background is a large picture*/ 
/*	NB! if bg is repeated --> no necessary to have all features of background (size and position)*/
/*	color, background, font-size, font-family;*/
}

.h {
	margin:0px;
	padding:0px;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Yeseva One', cursive;*/

/*Header Style begin*/

.header {
	background-color: #292929;
	/*margin-bottom:80px;*/ /*green border in header --> color is changed in menu-item, not menu-link!*/
}

.header-center {
	max-width:970px;
	margin: 0 auto; /*centering the header*/
	padding:0 0px;
}

.logo-pic {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

.logo {
	max-width: 100%;
}

.navigation {
	text-align: center;
}

.menu {
	display: block;
}

.menu-item {
	display: block;
	border: 1px solid black;
	padding-bottom: 25px;
	padding-top:25px;
	border-bottom: 5px solid #292929;
}

.menu-link {
	font-weight: bold;
	color: #ffffff;
	padding: 37px;
}

.menu-link:hover {
	color:#58c93a;
}

.menu-item:hover {
	border-bottom: 5px solid #58c93a;
}

@media (min-width: 530px) {
.header-center {
	padding:0 10px;
}

.logo-pic {
	float:left;
	margin-top: 40px;
	margin-bottom: 50px;
}

.navigation {
	float:right;
}

.menu {
	display: inline-block;
	vertical-align: top;
}

.menu-item {
	display:inline-block;
	vertical-align: top;
	border: 1px solid black;
	padding-bottom: 60px;
	padding-top:45px;
}

}

/*Header Style End*/

/*Main Content Style Start*/

.content-wrapper {


}

.main-content-wrapper {
	max-width:970px;
	margin: 0 auto; /*centering the header*/
/*	padding:0 10px;*/
	border: 5px #4f4e4e;
	border-left: 1px solid #c2c1c1;  /*why this border is not working?*/
	border-right: 1px solid #c2c1c1;
}

.content-one {
	display: block;
}

.content-one-pic {
	text-align: center;
	margin-bottom: 20px;
	margin-top:30px;
}

.pic-one {
	max-width: 100%;
}

.content-one-title {
	text-align: center;
	font-size: 20px;
	color: #4f4e4e;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.content-one-text {
	text-align: center;
	font-size: 16px;
	color: #606060;
	margin-bottom: 35px;
	line-height: 20px;
}

.content-one-button {
	margin-bottom: 50px;
	text-align: center;
}

.button-one {
	border: 2px solid #c2c1c1;
	border-radius: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #c2c1c1;
	padding: 12px 15px;
}

.content-two-pic {
	text-align: center;
	margin-bottom: 20px;
}

.pic-two {
	max-width: 100%;
}

.content-two-title {
	text-align: center;
	font-size: 20px;
	color: #4f4e4e;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.content-two-text {
	text-align: center;
	font-size: 16px;
	color: #606060;
	margin-bottom: 35px;
	line-height: 20px;
}

.content-two-button {
	margin-bottom: 10px;
	text-align: center;
}

.button-two {
	border: 2px solid #c2c1c1;
	border-radius: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #c2c1c1;
	padding: 12px 15px;
}

.side-bar {
	display: block;
}

.search-bar {
	margin-top: 30px;
	margin-bottom: 25px;
}

.search-side-bar {
	border: none solid #c2c1c1;
	margin-bottom: 18px;
	background-color: #f8f8f8;
	border-left: 3px solid #58c93a;
	font-size: 16px;
	color: #6c6969;
	text-transform: uppercase;
	font-weight: bold;
	padding: 15px 20px 15px 20px;

}

.search-field {
/*	border: 0.1px solid #c2c1c1;*/
}

.search-element {
	border: 1px solid #c2c1c1;
	border-right: none;
	font-size: 12px;
	color: #b9b9b9;
	padding: 18px 15px 18px 15px;
	width: 100%;
	box-sizing: border-box; /*because of the padding, the whole content goes beyond the centering parent. Give box-sizing*/
}

.category-bar {

}

.category-menu-bar {
	border: none solid #c2c1c1;
	margin-bottom: 18px;
	background-color: #f8f8f8;
	border-left: 3px solid #58c93a;
	font-size: 16px;
	color: #6c6969;
	text-transform: uppercase;
	font-weight: bold;
	padding: 15px 20px 15px 20px;
}

.category-menu {	
	margin-left: 15px;
	margin-bottom: 20px;
}

.category-link {
	color: #339933;  /*if I style this in category-menu --> nothing changes*/
	font-size: 16px;
	text-decoration: underline;
	line-height: 20px;
}

.feedback-menu-bar {
	border: none solid #c2c1c1;
	margin-bottom: 18px;
	background-color: #f8f8f8;
	border-left: 3px solid #58c93a;
	font-size: 16px;
	color: #6c6969;
	text-transform: uppercase;
	font-weight: bold;
	padding: 15px 20px 15px 20px;
}

.feedback-bar {
	margin-bottom: 20px;
}

.email-field {
	position: relative;
}

.email-input {
	border: 1px solid #c2c1c1;
	border-right: none;
	font-size: 12px;
	color: #b9b9b9;
	padding: 18px 15px 18px 15px;
	width: 100%;
	box-sizing: border-box; /*because of the padding, the whole content goes beyond the centering parent. Give box-sizing*/

}

.submit-email {
	position: absolute;
	top: 15px;
	right: 15px; /*mobile version wise use right margin*/
}

.banner-pic {
	text-align: center;
}

.ad-pic {
	max-width: 100%;
}

/*Previous and Next buttons styling*/

.buttons {
	border-top: 1px solid #c2c1c1;
	border-left: 1px solid #c2c1c1;
	border-right: 1px solid #c2c1c1;
	font-size: 15px;
	font-weight: bold;
	color: #818181;
	max-width:970px;
	margin: 0 auto; /*centering the header*/
	text-transform: uppercase;
}

.content-button-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.arrow-left {
	max-width: 100%;
	margin-left: 25px;
	margin-right: 5px;
}

.previous-button {
	float: left;
}


.next-button {
	float: right;
}

.arrow-right {
	max-width: 100%;
	margin-left: 5px;
	margin-right: 25px;
}

@media (min-width: 970px) {
.content-one {
	display: inline-block;
	vertical-align: top;
	margin-right: 75px;
	max-width: 615px;
}

.content-one-pic {
	text-align: left;
	margin-bottom: 20px;
	margin-top:80px;
}

.content-one-title {
	margin-left: 20px;
	margin-bottom: 50px;
	font-size: 28px;
	text-align: left;
}

.content-one-text {
	margin-left: 20px;
	text-align: left;
}

.content-one-button {
	margin-bottom: 80px;
	margin-left: 20px;
	text-align: left;
}

.content-two-pic {
	margin-bottom: 20px;
	text-align: left;
}

.content-two-title {
	margin-left: 20px;
	font-size: 28px;
	margin-bottom: 50px;
	text-align: left;
}

.content-two-text {
	margin-left: 20px;
	text-align: left;
}

.content-two-button {
	margin-bottom: 80px;
	margin-left: 20px;
	text-align: left;
}

.side-bar {
	display: inline-block;
	vertical-align: top;
}

.search-bar {
	margin-top: 80px;
	margin-bottom: 55px;
}

.category-menu {	
	margin-bottom: 65px;
}

.feedback-bar {
	margin-bottom: 65px;
}

.banner-pic {
	text-align: left;
}

.buttons {
	font-size: 18px;
}

.content-button-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}

}

/*Main Content Style End*/

/*Footer Start*/
.legal-info {
	padding-top: 40px;
	padding-bottom: 80px;
	border: 1px solid #c2c1c1;
	background-color: #f8f8f8;
}

.blogin-pic {
	text-align: center;
	margin-bottom: 20px;
}

.blog-pic {
	max-width: 100%;
}

.footer-text {
	text-align: center;
	font-size: 13px;
	color: #a6a6a6;
	line-height: 30px;
}

@media (min-width: 520px) {
.legal-info {
	padding-top: 70px;
	padding-bottom: 160px;
}

.blogin-pic {
	margin-bottom: 40px;
}
.footer-text {
	text-align: center;
	font-size: 13px;
	color: #a6a6a6;
	line-height: 0px;
}
}



/*Footer End*/


